@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$defaultFont :'Open Sans', sans-serif;
$defaultColor :#5F5F5F;
$defaultBlue:#100Ac1;
$defaultgray:#808080;
$defaultH2SizeMob: 30px;
$defaultH2SizeTab:30px;
$defaultH2SizeDesb:28px;
$iconSizeMob:60px;
$iconSizeTab:70px;
$iconSizeDes:76px;
$mediaSizeMob: 200px;
$mediaSizeTab:500px;
$mediaSizeDes:1000px;
