@media(min-width:$mediaSizeDes){
    h1{
        margin:0;
        padding:0;
    }
    nav{
        flex-direction: column;
        padding-bottom: 2%;
        height: fit-content;

        > section{
            position: static;
        }

        ul{
            padding-top: 2px;
            padding-bottom: 2px;
        }

        a{
            padding: 2%;
            height: fit-content;
        }

        h1{
            width: fit-content;

        }
    }

    main> section{
        width: 90%;
    }

    main{
        align-items: center;
    }

    .features{
        justify-content: center;
        column-gap: 5%;

        >section{
            width: 40%;
        }

        article{
            align-items: center;
        }
    }

    .activities{
        >article{
            height: 35vh;
            background-attachment: fixed;
        }

        >section{
            width: 90%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            column-gap: 10%;
            row-gap: 5vh;
        }

        figure{
            width: 45%;
        }
    }

    .company{
        width: 80%;
        flex-direction: row;
        >figure{
            column-gap: 5vh;
            align-items: flex-start;
            flex-direction: row;
        }

        img{
            height: 45vh;
            width: 45vh;
        }

        figcaption{
            width: 55%;
            a{
                width: 40%;
            }
        }
        >section{
            align-items: flex-end;
        }
    }

    .contact{
        padding: 0;
        width: 80%;
        justify-content: space-evenly;
        flex-direction: row;
        column-gap: 15vh;

        > section,
        figure{
            justify-content: center;
            padding: 0;
            width: 100%;
        }
        form{
            width: 90%;
        }

        input{
            width: 70%;
        }

        img{
            width: 60vh;
            height: 50vh;
        }

        >figure{
            align-items: flex-start;
        }

    }
}