@media (min-width: $mediaSizeMob){

    // nav{
    //     padding-top: 10%;
    //     padding-bottom: 10%;
    // }

    

    header{
        position: relative;
        height: 70vh;

        article{
            width: 100%;
            height: 100%;
            background-color: rgba(50,50,50,.5);
            @include flexColumn;
            align-items: center;
            justify-content: center;
            position: absolute;
            row-gap: 4vh;

            > aside{
                @include flexColumn;
                color: white;
                text-align: center;
                align-items: center;
                row-gap: 2vh;
            }
        }

        p{
            font-size: 14px;
        }

        h1{
            text-transform: capitalize;
            color: white;
            font-weight: 300;
            font-size: 50px;
        }
    }

    nav{
        padding-top: 10%;
        padding-bottom: 10%;
        
        ul{
            display: none;
        }

        > section{
        height: 5vh;
        padding-top: 1%;
        padding-bottom: 1%;
        border-top: 1px solid $defaultgray;
        border-bottom: 1px solid $defaultgray;
        }

        > article{
        display: flex;
        column-gap: 5vh;
        text-align: center;
        font-size: $iconSizeMob;
        justify-content: center;
        align-items: center;
        }

        i{
        font-size: $iconSizeMob;
        }

        h1{
        width: 40%;
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
        }
    }

    .features{
        color: $defaultColor;
        padding: 5%;
        padding-top: 5vh;
        padding-bottom: 5vh;
        row-gap: 3vh;

        > section{
            @include flexColumn;
            row-gap: 2vh;
        }
        
        article{
            @include flexElement(row,3vh,0)
        }

        aside{
            @include flexElement(column,0,3vh)
        }

        h3{
            font-size: 28px;
        }

        i{
            font-size: 76px;
            font-weight: 700;
        }
    }

    .activities{
        @include flexContent(column,center,center,0,7vh);
        
        > article{
            @include bgImage("/img/pic-01.jpg");
            width: 90%;
            height: 20vh;
        }

        aside{
            width: 100%;
            height: 100%;
            @include flexText;
            color: white;
            background-color: rgba(10,10,10,.8);
        }

        >section{
            width: 90%;
            @include flexContent(column, center,center,0,5vh)
        }

        h2{
            font-size: $defaultH2SizeMob;
        }

        figure{
            @include flexContent(column, center,center,0,2vh);
            width: 90%;
            border: 1px solid $defaultgray;
            padding:5%;
        }

        figcaption{
            @include flexColumn;
            row-gap: 2vh;
            line-height: 1.5;
            color: $defaultColor;
            width: 85%;
        }

        img{
            width: 30vh;
            height: 30vh;
        }

        h4{
            color: $defaultBlue;
        }
    }

    .company{
        @include flexColumn;
        align-items: center;
        row-gap: 5vh;
       
        img{
            width: 100%;
        }

        > section{
            width: 90%;
            @include flexColumn;
            align-items: center;
        }

        > figure{
            @include flexColumn;
            align-items: center;
            row-gap: 3vh;
        }

        figcaption{
            @include flexContent(column,center,center,0,5vh);
            width: 80%;
            line-height: 1.5;
        }

        h2{
            font-size: $defaultH2SizeMob;
            font-weight: 400;
            color: $defaultColor;
        }

        aside{
            display: flex;
            justify-content: right;
            width: 100%;
        }

        a{
            border: 1px solid $defaultColor;
            font-weight: 400;
            width: 40%;
            padding: 2%;
            font-size: 20px;
            color: $defaultColor;
            text-decoration: none;
            text-align: center;
        }

        >section{
            // border: 1px solid $defaultColor;

            >article{
                display: flex;
                width:100%;
            }

            p{
                line-height: 1.5;
                width: 90%;
            }
        }

        article > a{
            width: 50%;
            border-bottom: 0px;
        }

        article > a:last-child{
            background-color: gainsboro;
            transform: .4s
        }
    }

    .contact{
        @include flexColumn;
        row-gap: 5vh;
        
        >section,
        form{
            @include flexColumn;
        }

        > section{
            row-gap: 2vh;
            align-items: center;
        }

        form{
            width: 90%;
            row-gap: 2vh;
        }

        h4{
            width: 90%;
            text-align: right;
            font-size: $defaultH2SizeMob;
            font-weight: 300;
            text-transform: capitalize;
        }

        aside{
            display: flex;
            justify-content: right;
        }

        [type="submit"]{
            font-weight: 400;
            width: 40%;
            padding: 2%;
            background-color: white;
            font-size: 24px;
            color: $defaultColor;
        }
        
        figure,
        figcaption{
            @include flexColumn;
            align-items: center;
        }
        
        figure{
            row-gap: 3vh;
        }

        figcaption{
            width: 90%;
            color: $defaultColor;
            line-height: 1.5;
        }
        
        img{
            width: 90%;

        }
        
        input, textarea{
            border: 1px solid $defaultgray;
            padding: 1%;
        }
    
        textarea{
            height: 30vh;
            resize: none;
        }
    }

    #vision,#mission{
        border: 1px solid $defaultColor;
        @include flexColumn;
        row-gap: 4vh;
        padding: 5%;
        width: 90%;
    }

    #vision{
        display: none;

    }
}