@media(min-width:$mediaSizeTab){

    nav{
        padding-top: 0;
        padding-bottom: 5vh;
        display: flex;
        height: 20vh;
        row-gap: 4vh;

        > article{
            // border: 1px solid red;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        
        > section{
            position: fixed;
            // border: 1px solid red;
            width: 100%;
            background-color: white;
            z-index: 3;
        }

        ul{
            display: flex;
            column-gap: 2vh;
            width: 100%;
            justify-content: center;
        }

        li{
            display: flex;
            width: 10%;
        }

        a{
            color: $defaultColor;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1%;
            height: 5vh;
            width: 100%;
            text-align: center;
            transition: 4s;
        }
        a:hover{
            background-color: gainsboro;
            color: $defaultBlue;
        }

        details{
            display: none;
        }
    }

    .features{
        flex-direction: row;
        row-gap: 5vh;
        > section{
            flex-direction: column;
            
            >article{
                flex-direction: row;
                column-gap: 2vh;
            }
        }
    }

    .activities{
        
        >article{
            background-position: center;
        }

        section{
            width: unset;
        }

        figure{
            flex-direction: row;
            column-gap: 3vh;
            padding: 1vh;
        }

        img{
            width: 15vh;
            height: 15vh;
        }
    }

    .company{
        img{
            width: 50%;
        }

        figcaption{
            row-gap: 2vh;
            align-items: flex-start;
            
            a{
                width: 25%;
                font-size: 18px;
                transition: .4s;

                &:hover{
                    background-color: $defaultgray;
                    color: white;
                }
            }
        }

        >section{
            >article{
                width: 90%;
            }
        }
    }

    .contact{
        padding-right: 10%;        
        >section{
            align-items: flex-end;
        }

        >figure{
            align-items: flex-end;
        }

        img{
            height: 30vh;
            object-fit: cover;
            object-position: top;
            width: 50vh;
        }

        figcaption{
            width: 50vh;
        }

        form{
            width: 50vh;
        }
          
    }
    [type="submit"]{
        transition: 4s;

        &:hover{
            background-color: $defaultgray;
            color: white;
        }
    }

    .faq{
        width: 100%;
        align-items: center;

        >section{
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 4vh;
        }
    }
}